div.center {
	text-align: center;
}

a {
	color: #1F98DA;
}

a:hover {
	color: #0000FF;
}

.right p {
	text-align: right;
}

.atendimento {
	font-size: 20px;
	margin-top: 20px;
}

.alert a {
	text-decoration: underline;
}

footer {
	margin-bottom: 30px;
}

.recentes {
    clear: both;
}

.recentes li {
    list-style: none;
}

.share {
    position: fixed;
    top: 65px;
    left: 20px;
}

.share li {
    list-style: none;
}

.share ul {
	margin-left: 20px;
}

.share img {
	height: 15px;
    width: 15px;
	margin-left: -15px;
}

.share a {
	display: inline-block;
	margin-left: 5px;
}

#comments {
    margin-top: 25px;
}
