div.center {
	text-align: center;
}

a {
	color: #1F98DA;
}

a:hover {
	color: #0000FF;
}

.right p {
	text-align: right;
}

.atendimento {
	font-size: 20px;
	margin-top: 20px;
}

.alert a {
	text-decoration: underline;
}

footer {
	margin-bottom: 30px;
}

.recentes {
    clear: both;
}

.recentes li {
    list-style: none;
}
