<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css?v={{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap-responsive.min.css?v={{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css?v={{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" />
	<meta property="og:image" content="http://www.veterinariahomeopatia.com.br/images/share.png"/>
    <!-- google analytics async -->
	<script>
 	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41304790-1', 'veterinariahomeopatia.com.br');
	  ga('send', 'pageview');

	</script>
  </head>
  <body>
	<div class="navbar">
    	<div class="navbar-inner">
			<ul class="nav">
				<li><a id="site-name" class="brand" href="/">{{ site.title }}</a></li>
				<li><a href="homeopatia-veterinaria.html">O que é?</a></li>
			</ul>
		</div>
    </div>
    <div class="container">
		<div class="row">
 	     	<div class="span9">
    	    	{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
	    	    {{ content }}
	  	    </div>
		</div>
		<footer class="row">
			<div class="span9">
				<hr />
				Contato: <br>
				Maria Eugenia Carretero &mdash; <a href="tel:+5511991492622">(11) 99149-2622</a>
				André Pereira Paduan &mdash; <a href="tel:+5511999318006">(11) 99931-8006</a>
			</div>
		</footer>
    </div>
  </body>
</html>
