---
layout: default
---

<div class="autor">
    {% if site.plusid[page.author] %}
        <a href="https://plus.google.com/{{ site.plusid[page.author] }}?rel=author">{{ page.author }}</a>
    {% else %}
	    {{ page.author }}
    {% endif %} 
    em {{ page.date | date: "%d/%m/%Y"  }}
</div>
<br />

{{ page.content | unindent | markdownify }}

<div class="postnav">
	{% if page.previous %}
	<div class="prev">Anterior: <a href="{{ page.previous.url }}" rel="prev">{{ page.previous.title }}</a></div>
	{% endif %}
	{% if page.next %}
	<div class="next">Pr&oacute;ximo: <a href="{{ page.next.url }}" rel="prev">{{ page.next.title }}</a></div>
	{% endif %}
</div>

{% if site.disqus %}
<div id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ page.url }}";
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
